Figure*
Table*
otu*
.*
!/.gitignore
alpha*
beta*
*lefse*
ana*
demulti*
goods*
corn*
ramp*
collapse*
qc*
mult_*
mapping_*
remove*
*.fasta
trunc*
packrat*
qiime
gold.fasta
*Rproj
packrat/lib*/
packrat/src/
.Rproj.user
acclimation.Rmd
