*
!.Rmd
!conda_packages.txt
!LICENSE
!mapping.txt
!qiime_parameters_working.txt
!*.md
!rumen_acclimation.tar.gz
!rumen_acclimation.Rproj
!run.sh
!packrat/*.lock
!packrat/*.opts
!packrat/*.R
!gold*
.Rproj.user
